body {
    background-color: gainsboro;
    padding: 0 20% 0 20%;
    /* top right bottom left */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainblock, .guesses {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess-header {
    display: grid;
    grid-template-columns: 33% auto 33%;
    text-align: center;
    background-color: gray;
    gap: 2px;
    padding: 2px;
}

.guess-header > p {
    background-color: gainsboro;
    margin: 0px;
}

/* .guess-header > p:nth-of-type(1) {
    margin-left: 2px;
} */


.incorrect {background-color: rgb(255, 103, 103) !important;}
.correct {background-color: rgb(103, 255, 103) !important;}